# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# initial cdf/dat file
*.cdf
*.in
*.cdf.*
*.dat
*.cdf.dat

# other output files
main.info
main.out
OUT
OUT.err
HOST

# Playground
playground/*

# GTD Static Library
GTD_StaticLib/codegen/*
GTD2D_lib/codegen/*
GTD2D_lib/*.mat

# ptp-sync
**/.ptp-sync-folder
.remote-sync.json
.ptp-sync/**
